@import '@/styles/mixins';

.app {
  min-height: 100vh;
  .wrapper {
    width: calc(min(110rem, 100%));
    min-height: 100vh;
    margin: auto;
    padding: 5rem 0rem 0 0rem;
  }
}

@media (max-width: 900px) {
  .app {
    .wrapper {
      padding: 8rem 0rem 0 0rem;
    }
  }
}
