@import '@/styles/mixins';

.toolbar {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 5rem;
  @include flex;
  background: #faf9f6;
  padding: 1rem;
  z-index: 100;
  .toolbar__container {
    width: calc(min(50rem, 100%));
    margin: auto;
    @include grid(1fr, 20% 60% 20%);
    justify-items: center;
    gap: 1rem;
    .select {
      width: 10rem;
    }
  }
}

@media (max-width: 900px) {
  .toolbar {
    height: 8rem;
    .toolbar__container {
      @include grid(1fr 1fr, 1fr 1fr);
      justify-items: center;
      gap: 1rem;
      .toolbar__search {
        grid-area: 1 / 1 / span 1 / span 2;
      }
    }
  }
}
