@import '@/styles/mixins';

.book-card {
  @include widthAndHeight(100%, 100%);
  display: grid;
  grid-template: 60% 10% 20% 10% / 100%;
  align-items: center;
  padding: 0.2rem 1rem 0.2rem 1rem;
  .book-card__image__container {
    @include widthAndHeight(100%, 100%);
    @include flex;
    .book-card__image {
      width: 200px;
      height: 300px;
      object-fit: cover;
      box-shadow: 1px 3px 5px black;
      transition: transform 0.3s, box-shadow 0.3s;
      cursor: pointer;
    }
    .book-card__image:hover {
      transform: scale(1.05);
      box-shadow: 1px 3px 15px black;
    }
  }
  .book-card__category {
    color: gray;
  }
  .book-card__title {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .book-card__author {
    color: gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
